<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Book List')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('books')"></nav>
<div class="container">
  <div class="d-flex align-items-center justify-content-between">
    <h1>Book List</h1>
    <form th:action="@{/books}" method="GET">
      <div class="input-group">
        <!-- input precaricato leggendo il parametro search della request -->
        <input
            type="text"
            placeholder="Search by title/authors"
            class="form-control" name="search"
            th:value="${param.search}"
        >
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    
    </form>
  </div>
  
  <hr>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Publisher</th>
      <th>ISBN</th>
      <th>Year of publication</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList}" th:object="${book}">
      <td th:text="*{title}"></td>
      <td th:text="*{authors}"></td>
      <td th:text="*{publisher}"></td>
      <td th:text="*{isbn}"></td>
      <td th:text="*{year}"></td>
      <td>
        <a th:href="@{/books/show/{id}(id=*{id})}" title="details"><i class="fa-solid fa-book"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>