<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Book List')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('books')"></nav>
<div class="container" th:object="${book}">
  <!-- message da redirectAttributes -->
  <div th:replace="fragments/components :: message"></div>
  <h1 th:text="*{title}"></h1>
  <h2 class="text-muted" th:text="|written by *{authors}|"></h2>
  <hr>
  <section class="row">
    <div class="col-4">
      <dl>
        <dt>Publisher</dt>
        <dd th:text="*{publisher}"></dd>
        <dt>ISBN</dt>
        <dd th:text="*{isbn}"></dd>
        <dt>Year of publication</dt>
        <dd th:text="*{year}"></dd>
        <dt>Added to catalog</dt>
        <dd th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd')}"></dd>
        <dt>Synopsis</dt>
        <dd th:text="*{#strings.defaultString(synopsis,'N.D.')}"></dd>
        <dt>Number of copies</dt>
        <dd th:text="*{numberOfCopies}"></dd>
        <dt>Available copies</dt>
        <dd th:text="*{availableCopies}"></dd>
      </dl>
    </div>
    <div class="col-4">
      <img class="img-fluid" th:src="@{/files/cover/{bookId}(bookId=*{id})}" alt="cover">
    </div>
    <div class="col-4">
      <h3>Categories</h3>
      <ul th:if="*{categories.size() > 0}">
        <li th:each="categoryObj : *{categories}" th:text="${categoryObj.name}"></li>
      </ul>
      <div th:unless="*{categories.size() > 0}" class="alert alert-info">The list is empty</div>
    </div>
  </section>
  <section sec:authorize="hasAuthority('ADMIN')">
    
    <h2>Borrowings
      <a
          th:if="*{availableCopies > 0}"
          th:href="@{/borrowings/create(bookId=*{id})}"
      ><i class="fa-solid fa-circle-plus"></i></a>
      <button
          th:unless="*{availableCopies > 0}"
          class="btn btn-primary"
          disabled>
        <i class="fa-solid fa-circle-plus"></i>
      </button>
    </h2>
    
    <table class="table">
      <thead>
      <tr>
        <th>Start date</th>
        <th>Expire date</th>
        <th>Return date</th>
        <th>Note</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="borrowing : *{borrowings}" th:object="${borrowing}">
        <td th:text="*{startDate}"></td>
        <td th:text="*{expireDate}"></td>
        <td th:text="*{returnDate}"></td>
        <td th:text="*{note}"></td>
        <td class="d-flex">
          <a
              class="btn btn-primary me-1"
              th:href="@{/borrowings/edit/{id}(id=*{id})}" title="edit">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <form method="POST" th:action="@{/borrowings/delete/{id}(id=*{id})}"
                onsubmit="return confirm('Are you sure?')">
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i>
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <div th:if="*{borrowings.size() == 0}" class="alert alert-info">The list is empty</div>
  </section>
  
  
  <div class="mt-2">
    <a th:href="@{/books}" class="btn btn-primary">Back to list</a>
  </div>
</div>
</body>
</html>