<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- componente form field; parametri: tipo di input, label, nome del field -->
<th:block th:fragment="formField(type, label, fieldName)">
  <label th:for="${fieldName}" class="form-label" th:text="${label}"></label>
  <input th:type="${type}" class="form-control" th:id="${fieldName}" th:field="*{__${fieldName}__}"
         th:errorClass="is-invalid">
  <div th:if="${#fields.hasErrors(fieldName)}" class="invalid-feedback">
    <ul>
      <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}"></li>
    </ul>
  </div>
</th:block>
<!-- component success message da redirectAttributes -->
<div
    th:fragment="message"
    th:if="${message !=null}" class="alert alert-success alert-dismissible fade show">
  <span th:text="${message}"></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</body>
</html>
