<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Edit Book')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('books')"></nav>
<div class="container">
  <h1>Edit Book</h1>
  <hr>
  <form
      id="edit-book"
      method="POST"
      th:action="@{/books/edit/{id}(id=${book.id})}"
      th:object="${book}"
      class="row gy-2"
  >
    <!-- hidden fields -->
    <input type="hidden" th:field="*{isbn}">
    <!-- title -->
    <div class="col-6"
         th:insert="fragments/components :: formField('text', 'Title', 'title')"></div>
    <!-- authors -->
    <div class="col-6" th:insert="fragments/components :: formField('text', 'Authors', 'authors')">
    </div>
    <!-- publisher -->
    <div class="col-6"
         th:insert="fragments/components :: formField('text', 'Publisher', 'publisher')">
    </div>
    <!-- isbn -->
    <!--div class="col-4" th:insert="fragments/components :: formField('text', 'ISBN', 'isbn')">
    
    </div-->
    <div class="col">ISBN: <span th:text="*{isbn}"></span></div>
    <!-- year -->
    <div class="col-2"
         th:insert="fragments/components :: formField('number', 'Year of publication', 'year')">
    
    </div>
    <!-- synopsis -->
    <div class="col-12">
      <label for="synopsis" class="form-label">Synopsis</label>
      <textarea class="form-control" id="synopsis" rows="5" th:field="*{synopsis}"></textarea>
    </div>
    <!-- actions -->
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Save</button>
      <a th:href="@{/books}" class="btn btn-primary">Cancel</a>
    </div>
  </form>
</div>
</body>
</html>